// @keyframes slideup {
//     from {
//         opacity: 0;
//         transform: translateY(75px);
//     } to {
//         opacity: 1;
//         transform: translateY(0px);
//     }
// }

// @keyframes scaleup {
// 	from {
// 		opacity: 0;
// 		transform: scale(0.7);
// 	} to {
// 		opacity: 1;
// 		transform: scale(1);
// 	}
// }

// @keyframes slidedown {
//     from {
//         opacity: 0;
//         transform: translateY(-75px);
//     } to {
//         opacity: 1;
//         transform: translateY(0px);
//     }
// }

// @keyframes slideright {
//     from {
//         opacity: 0;
//         transform: translateX(-75px);
//     } to {
//         opacity: 1;
//         transform: translateX(0px);
//     }
// }

// @keyframes appear {
//     from {
//         opacity: 0;
//     } to {
//         opacity: 1;
//     }
// }

@keyframes flow-html {
    from {
        width: 0%;
    } to {
        width: 90%;
    }
}

@keyframes flow-css {
    from {
        width: 0%;
    } to {
        width: 85%;
    }
}

@keyframes flow-js {
    from {
        width: 0%;
    } to {
        width: 70%;
    }
}

@keyframes flow-python {
    from {
        width: 0%;
    } to {
        width: 35%;
    }
}

@keyframes flow-php {
    from {
        width: 0%;
    } to {
        width: 65%;
    }
}

@keyframes opacity-up-down {
   from {
       opacity: 0;
       top: 3px;
    } to {
        opacity: 1;
        top: 15px;
    }
}

@keyframes to-top-slide-up {
    from {
        bottom: -70px;
    } to {
        bottom: 20px;
    }
}

@keyframes to-top-slide-down {
    from {
        bottom: 20px;
    } to {
        bottom: -70px;
    }
}

// .slideanim, .slideanim2, .slideanim3, .slideanim4 {
//     visibility: hidden;
// }

// .slideup {
//     visibility: visible;
//     animation: slideup 1s ease-out;
// }

// .slidedown {
//     visibility: visible;
//     animation: slidedown 1s ease-out;
// }

// .slideright {
//     visibility: visible;
//     animation: slideright 1s ease-out;
// }

// .appear {
// 	visibility: visible;
//     animation: appear 1s ease-out;
// }

// .scaleup {
// 	visibility: visible;
//     animation: scaleup 1s ease-out;
// }

.to-top-slideup {
    animation: to-top-slide-up .5s;
    animation-fill-mode: forwards;
}

.to-top-slidedown {
    animation: to-top-slide-down .5s;
    animation-fill-mode: forwards;
}