@import "../utils/_mixins";

body, html {
    width: 100%;
    height: 100%;
	font: {
        family: "Museo", sans-serif !important;
        weight: lighter !important;
    }
    color: #000;

    @include mQ(600px){
        background-position: top center;
    }

    *::selection{
        background-color: #555555;
        color: #fff;
    }

    #root {
        width: 100%;
        height: 100%;

        .wrapper {
            width: 100%;
            height: 100%;

            .underline {
                width: 75px;
                height: 2px;
                background-color: #009688;
                margin: 10px auto;
            }


            .underline2 {
                @extend .underline;
                width: 120px !important;
            }
        }
    }
}