@import "../utils/_mixins";
@import "../utils/_vars";

.menu-container {
    .menu {
        height: 50px;
        width: auto;
        @include fixed-pos($top: 20px, $right: 20px, $zIndex: 110000000000000000);
        line-height: 50px;

        @include mQ(600px){
            top: 10px;
            right: 10px;
        }

        a.button-collapse {
            height: 50px;
            width: auto;
            line-height: 50px;
            font-size: 18px;
            letter-spacing: 3px;
            word-spacing: 10px;
            color: #000;

            i {
                transition: all .5s;

                &::before {
                    transition: all .5s;
                    height: 50px;
                    width: 30px;
                    line-height: 50px;
                    color: #000;
                    font-size: 18px;
                    text-align: center;
                }
            }
        }

        &.dark {
            a, a i::before {
                color: #fff;
            }
        }
    }

    .side-nav {
        width: 100%;
        box-shadow: none;
        background: linear-gradient(to right, rgba($theme, 1), rgba(lighten($theme, 10%), 1), rgba(lighten($theme, 20%), 1));
        color: #fff;
        font-weight: 300;
        z-index: 100 !important;

        .row {
            margin: 0;
            width: 100%;
            padding: 50px;
            height: auto;

            .col {
                background: transparent !important;

                &#col1 {
                    border-right: 1px solid #fff;

                    @include mQ(600px){
                        border: none !important;
                    }

                    h5 {
                        font: {
                            size: 36px;
                            weight: lighter !important;
                        }

                        @include mQ(600px){
                            font-size: 24px;
                        }

                        a {
                            color: #fff !important;
                            transition: all .5s;
                            @include rel-pos();

                            &::after {
                                @include abs-pos($top: calc(100% - 5px), $left: 0);
                                width: 0;
                                height: 2px;
                                content: '';
                                background-color: #fff;
                                transition: all .5s;
                            }

                            &:hover {
                                margin-left: 20px;

                                &:after {
                                    width: 75%
                                }
                            }
                        }
                    }
                }

                &#col2 {
                    
                }
            }
        }
    }
}

@keyframes fill {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}

.fill::after {
    animation: fill .5s ease-in-out;
    animation-fill-mode: forwards;
}
