@import "../utils/_mixins";
@import "../utils/_vars";

.menu-container {
    .menu {
        height: 40px;
        width: 40px;
        background-color: #080808;
        border-radius: 50%;
        @include fixed-pos($top: 20px, $right: 20px, $zIndex: 110000000000000000);
        line-height: 40px;

        a.button-collapse {
            height: 40px;
            width: 40px;
            line-height: 40px;

            i {
                transition: all .5s;

                &::before {
                    transition: all .5s;
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    color: #fff;
                    font-size: 26px;
                    text-align: center;
                }
            }
        }
    }

    .side-nav {
        width: 100%;
        box-shadow: none;
        background: linear-gradient(to right, rgba($theme, 1), rgba(lighten($theme, 10%), 1), rgba(lighten($theme, 20%), 1));
        color: #fff;
        font-weight: 300;

        .row {
            margin: 0;
            width: 100%;
            padding: 50px;

            .col {

                &#col1 {
                    border-right: 1px solid #fff;

                    @include mQ(600px){
                        border: none !important;
                    }

                    h5 {
                        font: {
                            size: 36px;
                            weight: lighter !important;
                        }

                        @include mQ(600px){
                            font-size: 24px;
                        }

                        a {
                            color: #fff !important;
                            transition: all .5s;
                            @include rel-pos();

                            &::after {
                                @include abs-pos($top: 100%, $left: 0);
                                width: 0;
                                height: 2px;
                                content: '';
                                background-color: #fff;
                            }

                            &:hover {
                                margin-left: 20px;
                            }
                        }
                    }
                }

                &#col2 {
                    
                }
            }
        }
    }
}

@keyframes fill {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}

.fill::after {
    animation: fill .5s ease-in-out;
    animation-fill-mode: forwards;
}