@import "../utils/_mixins";

.modal {
    box-shadow: none; 
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(#fff, .5) !important;
    z-index: 10000000000000 !important;
    top: 0 !important;
    bottom: 0 !important;
    
    .modal-content {
        height: 100%;
        width: 100%;
            
        .row {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            
            .valign {
                width: 100%;
                
                .col.s10 {
                    height: 100%;
					padding: 30px;
					padding-right: 0px;
                    
                    h1 {
                        text-transform: uppercase;
                        font: {
                            weight: 300 !important;
                            size: 50px;
                        }
                        margin: 0;
                    }
                    
                    h4 {
                        font: {
                            weight: 300 !important;
                            size: 42px;
                        }
                        margin-top: 10px;
                    }
                }
            }
        }
            
        ul.social-menu {
            li {
                display: block;
                opacity: 0;
                margin: {
                    top: 10px;
                    bottom: 10px;
                }
                padding: 0 15px;
				
				@media screen and (max-width: 601px){
					display: inline-block !important;
					margin: {
						left: 5px;
						right: 5px;
					}
				}

                a {
                    width: 65px;
                    height: 65px;
                    border: 2px solid #000;
                    color: #000 !important;
                    padding: 0 !important;
					line-height: 65px;
					
					@media screen and (max-width: 600px){
						height: 45px;
						width: 45px;
						line-height: 45px;
					}

                    .mdi:before {
                        color: #000;
                        height: 65px;
                        width: 65px;
                        margin: 0;
						line-height: 65px;
						
						@media screen and (max-width: 600px){
							height: 45px;
							width: 45px;
							line-height: 45px;
						}
                    }
                }
            }
        }
    }
}

.modal-overlay {    
    @include background('../images/image4.jpg');
    background-color: #fff;
}