@import "../utils/_mixins";

.to-about {
    height: 30px;
    width: 21px;
    border-radius: 11px;
    border: 2px solid #333;
    color: #333;
    text-align: center;
    cursor: pointer;
    padding: 0;
    @include rel-pos();
    margin: 20px 0;

    @include mQ(600px){
        margin: 75px 0;
    }

    .dot {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: #333;
        display: inline-block;
        @include abs-pos($top: 3px, $left: 6px);
        opacity: 0;
        animation: opacity-up-down 1.5s infinite;
    }
}