@import "../utils/_mixins";

.to-about {
    height: 33px;
    width: 21px;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 0;
    @include rel-pos();
    margin: 20px 0;

    @include mQ(992px){
        margin-top: 75px;
    }

    .dot {
        height: 3px;
        width: 3px;
        border-radius: 50%;
        background-color: #fff;
        display: inline-block;
        @include abs-pos($top: 3px, $left: 7px);
        opacity: 0;
        animation: opacity-up-down 1.5s infinite;
    }
}