@import "../utils/_vars";

body {
    &::-webkit-scrollbar {
        width: 7px;
        border-radius: 15px;
    }
    
    &::-webkit-scrollbar-track {
        border-radius: 15px;
        background-color: #fff;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background-color: $theme;
    }
}