@import "../utils/_mixins";

.to-top {
    height: 50px;
    width: 50px;
    background-color: rgba(#000, .4);
    line-height: 50px;
    text-align: center;
    @include fixed-pos($bottom: 0, $right: 0, $zIndex: 110);


    .mdi::before {
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        color: #fff !important;
    }
}

.to-top.slideup {
    animation: to-top-slide-up .5s;
    animation-fill-mode: forwards;
}

.to-top.slidedown {
    animation: to-top-slide-down .5s;
    animation-fill-mode: forwards;
}