@import "../utils/_mixins";
@import "../utils/_anims";

.to-top {
    height: 50px;
    width: 50px;
    background-color: #009688;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    @include fixed-pos($bottom: 20px, $right: 20px, $zIndex: 110);
    opacity: .4;
    transition: all .5s;

    &:hover {
        opacity: .8;
    }

    .mdi::before {
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        color: #fff !important;
    }
}