@import "../utils/_mixins";
@import "../utils/_anims";

.to-top {
    height: 40px;
    width: 40px;
    background-color: #009688;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    @include fixed-pos($bottom: 20px, $right: 20px, $zIndex: 110);
    transition: all .5s;

    .mdi::before {
        height: 40px;
        line-height: 40px;
        font-size: 22px;
        color: #fff !important;
    }
}