.wrapper3 {
    padding: {
        top: 50px;
        bottom: 20px;
    }
	height: fit-content;
    width: 100%;
    background-color: #f0f0f0;
    
    h4 {
        margin: 0;

        @media screen and (max-width: 600px){
            font-size: 26px;
        }
    }

	.row {
		margin-top: 50px;
	}

	.material-placeholder {
		width: 33.33333%;
		height: auto;
		float: left;
		left: auto;
		right: auto;
        box-sizing: border-box;
        padding: 3px;

        @include mQ(992px){
            width: 50%;
        }

		img {
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
            cursor: pointer;

            &:hover {
                opacity: 1 !important;
            }
            
		}

		.active {
			cursor: zoom-out !important;
		}
	}
}