@import "../utils/_mixins";

.wrapper2 {
    height: auto;
    width: 100%;
    
    .wrapper {
        width: 100%;
        height: auto;
        
        h4 {
            margin: 0 ;
            margin-bottom: 40px;
            font-style: bolder;
        }
        
        .things-do {
            height: auto;
            width: 100%;
            margin-bottom: 0;
			padding: 50px 35px;
            background-color: rgba(#000, 1);
            color: #fff !important;

            *::selection {
                background-color: #fff;
                color: #555;
            }

            h1 {
                font: {
                    size: 32px;
                    weight: 700;
                }
                margin: 0;
                margin-bottom: 10px;
            }

            .underline {
                margin-top: 0 !important;
                background-color: #fff !important;
            }
            
            .col {
                padding: 10px;

                .underline {
                    margin: 0 !important;
                    width: 20% !important;
                }

                h5 {
                    color: #fff;
                    font-weight: 700;
                }
                
                img {
                    height: 75px;
                }
            }
        }
    }
}