@import "../utils/_mixins";

.wrapper2 {
    height: auto;
    width: 100%;
    
    .wrapper {
        width: 100%;
        height: auto;
        
        h4 {
            margin: 0 ;
            margin-bottom: 40px;
            font-style: bolder;
        }
        
        .things-do {
            height: auto;
            width: 100%;
            margin-bottom: 0;
			padding: 35px;
            padding-bottom: 75px;
            background-color: rgba(#000, 1);
            color: #fff !important;

            *::selection {
                background-color: #fff;
                color: #555;
            }

            h1 {
                font: {
                    size: 32px;
                    weight: 700;
                }
                margin-bottom: 10px;
            }

            .underline {
                margin-top: 0 !important;
                background-color: #fff !important;
            }
            
            .col {
                padding: 10px;

                .underline {
                    margin: 0 !important;
                    width: 20% !important;
                }

                h5 {
                    color: #fff;
                    font-weight: 700;
                }
                
                img {
                    height: 75px;
                }
            }
        }
    }
    
    .skills {
        padding: 50px 30px;
        background-color: #f0f0f0;

        h2 {
            font-size: 32px;
        }

        .col {
            padding: 30px 10px;
            text-align: center;

            .icon {
                border: 1px solid #009688;
                width: fit-content;
                margin: 0 auto;
                border-radius: 15px;
                padding-top: 50px;

                i::before {
                    font-size: 100px;
                    color: #009688;
                    margin: 50px;
                    margin-bottom: 0;
                }

                p {
                    margin: 0;
                    margin-top: 20px;
                    border: {
                        bottom-left-radius: 15px;
                        bottom-right-radius: 15px;
                    }
                    color: #f0f0f0;
                    background-color: #009688;
                    text-transform: uppercase;
                    padding: 3px 10px;
                }
            }
        }
    }
    
    .testimonials {
        width: 100%;
        height: auto;
        padding: 30px;
        padding: {
            top: 15px;
            bottom: 50px;
        }
        background-color: #fff;		
        
        h4 {
            margin-top: 30px;
        }

        .underline2 {
            margin-bottom: 30px !important;
        }
        
        .slider {
            width: 75%;
            margin: auto;
            
            @include mQ(992px){
                width: 75%;
            }
            
            @include mQ(600px){
                width: 90%;
            }
            
            .indicators {
                text-align: left;
                margin: {
                    bottom: 10px;
                    right: 10px;
                }
                z-index: 100;
                padding: {
                    left: 50px;
                    bottom: 20px;
                }
                
                @include mQ(600px){
                    padding-left: 10px;
                }
                
                .indicator-item {
                    background-color: #fff;
                    border: none;

                    &.active {
                        background-color: #009688;
                    }
                }
            }
            
            .slides {
                width: 100%;
                height: inherit;
                background-color: transparent !important;
                
                li {
                    height: 100%;
					width: 100%;
                    @include background($url: '');
					
                    .valign-wrapper {
						height: 100%;
						width: 100%;
						background-color: rgba(#000, .7);

						.valign {
							height: auto;
							width: 100%;
							left: 0 !important;
							top: auto !important;
							padding: 60px;

							@include mQ(600px){
								padding: 10px 20px;
							}
							
							p {
								font-size: 16px;
								text-align: left;
								margin: 0;

								@include mQ(600px){
									font-size: 17px;
								}
							}
							
							.referrer {
								font: {
									size: 16px;
									weight: bolder;
								}

								@include mQ(600px){
									font-size: 15px;
								}
							}
							
							.ref-title {
								font-size: 14px;

								@include mQ(600px){
									font-size: 13px;
								}
							}
						}
					}
                }
            }
        }
    }
}