.wrapper5 {    
    .testimonials {
        width: 100%;
        height: auto;
        padding: 30px;
        padding: {
            top: 15px;
            bottom: 50px;
        }
        background-color: #f0f0f0;		
        
        h4 {
            margin-top: 30px;
        }

        .underline2 {
            margin-bottom: 30px !important;
        }
        
        .slider {
            width: 75%;
            margin: auto;
            
            @include mQ(992px){
                width: 75%;
            }
            
            @include mQ(600px){
                width: 90%;
            }
            
            .indicators {
                text-align: left;
                margin: {
                    bottom: 10px;
                    right: 10px;
                }
                z-index: 100;
                padding: {
                    left: 50px;
                    bottom: 20px;
                }
                
                @include mQ(600px){
                    padding-left: 10px;
                }
                
                .indicator-item {
                    background-color: #fff;
                    border: none;

                    &.active {
                        background-color: #009688;
                    }
                }
            }
            
            .slides {
                width: 100%;
                height: inherit;
                background-color: transparent !important;
                
                li {
                    height: 100%;
					width: 100%;
                    @include background($url: '');
					
                    .valign-wrapper {
						height: 100%;
						width: 100%;
						background-color: rgba(#000, .7);

						.valign {
							height: auto;
							width: 100%;
							left: 0 !important;
							top: auto !important;
							padding: 60px;

							@include mQ(600px){
								padding: 10px 20px;
							}
							
							p {
								font-size: 16px;
								text-align: left;
								margin: 0;

								@include mQ(600px){
									font-size: 17px;
								}
							}
							
							.referrer {
								font: {
									size: 16px;
									weight: bolder;
								}

								@include mQ(600px){
									font-size: 15px;
								}
							}
							
							.ref-title {
								font-size: 14px;

								@include mQ(600px){
									font-size: 13px;
								}
							}
						}
					}
                }
            }
        }
    }
}