.wrapper4 {
    width: 100%;
    height: auto;
    padding: 35px;
    padding-top: 30px;
    background-color: rgba(#fff, .6);
    
    .row {
        width: 100%;
        height: auto;
        margin: 0;
        
        h3 {
            width: fit-content;
            margin: auto !important;
        }
        
        .col.s10 {
            padding: 50px;
            
            @media screen and (max-width: 600px){
                padding: 20px;
            }
            
            p {
                width: 75%;
                color: #333;
                
                @media screen and (max-width: 600px){
                    width: 100%;
                }
            }
            
            form {
                margin: 0;
                width: 85%;
                color: #333;
                
                @media screen and (max-width: 600px){
                    width: 100%;
                }

                .input-field {
                    label {
                        color: #333;
                        font-weight: 300;

                        &.active {
                            color: #009688 !important;
                            font-weight: 700;
                        }
                    }
                    
                    input[type=text], input[type=email], textarea {
                        border-bottom: 1px solid #333;

                        &:focus {
                            border-bottom: 2px solid #009688;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
        
        .col.s2 {
            ul {
                li {
                    opacity: 0;
                    display: block;
                    margin: 10px auto;
                    padding: 0 15px;
                    
                    a {
                        width: 65px;
                        height: 65px;
                        padding: 0;
                        border: 2px solid #000;
                        color: #000 !important;
                        padding: 0 !important;
                        line-height: 65px;
                        transition: all .5s;
						text-align: center;
                        
                        &:hover {
                            margin-right: 25px;
						}
						
						@media screen and (max-width: 600px){
							height: 45px;
							width: 45px;
							line-height: 45px;
                        }
                        
                        .mdi {
                            margin: 0;

                            &:before {
                                color: #000;
                                height: 65px;
                                width: 65px;
                                margin: 0;
                                line-height: 65px;
                                padding: 0;
                                
                                @media screen and (max-width: 600px){
                                    height: 45px;
                                    width: 45px;
                                    line-height: 45px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}