@import "../utils/_mixins";

.wrapper1 {
    height: 100%;
    width: 100%;

    @media screen and (max-width: 992px){
        height: auto;
    }
    
    .row {
        height: inherit;
        width: 100%;
        margin: 0;
        
        .valign-wrapper {
            background-color: rgba(#fff, .9);
            height: inherit;

            @media screen and (max-width: 600px){
                background-color: rgba(#fff, .6);
            }
            
            .valign {
                width: 100%;
                height: auto;
                padding: 50px 20px;
                
                h1 {
                    font-size: 36px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    margin: 0;
                    color: #000;
                    
                    @media screen and (max-width: 1120px){
                        font-size: 30px;
                    }
                }

                p {
                    color: #000;
                    font-size: 17px;
                    line-height: 1.3;
                    margin: 30px 0;
                }
                
                .social {
                    margin: 20px auto;
					width: 100%;
                    padding: 10px auto;
                    height: 70px;
                    
                    a {
                        border: 2px solid #000;
                        height: 50px;
                        width: 50px;
                        line-height: 50px;
                        margin: 5px;
                        
                        .mdi::before {
                            line-height: 50px;
                            font-size: 22px;
                            color: #000;
                            transition: all .5s;
                        }
                    }
                }
                
                h4 {
                    font-size: 26px;
                    margin: 0;
                    color: #000;
                    
                    @media screen and (max-width: 1120px){
                        font-size: 18px;
                    }
                }
                
                a[href="#wrapper2"]{
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    margin: auto;
                    margin-top: 10px;
                    opacity: 1;
                    animation: {
                        name: opacity-up-down;
                        iteration-count: infinite;
                        duration: 1.5s;
                        timing-function: ease-out; 
                    }

                    .mdi::before {
                        line-height: 40px;
                        font-size: 28px;
                        color: #000;
                    }
                }
            }
        }
    }
}