.wrapper3 {
    padding: {
        top: 50px;
        bottom: 20px;
    }
	height: fit-content;
    width: 100%;
    background-color: #f0f0f0;
    
    h4 {
        margin: 0;

        @media screen and (max-width: 600px){
            font-size: 26px;
        }
    }

	.row {
        margin-top: 50px;
        
        .col {
            img {
                width: 75%;
                margin: 0 auto;
                height: auto;
            }

            h5 {
                margin-top: 0;
            }
        }

        a {
            display: inline-block;
            text-align: center;
            width: 150px;
            height: 50px;
            line-height: 48px;
            background-color: transparent;
            border: 2px solid #000;
            border-radius: 25px;
            color: #000;
            font-weight: bold;
            transition: all .5s;

            &:hover {
                width: 165px;
                color: #fff;
                background-color: #009688;
                border-color: #009688;
            }
        }
	}
}